html{
	background-color: #AA9039;
	position: center;

}

	body {
		background-color: #B6A773;
		font-family: Helvetica;
		font-weight: lighter;
		font-size: 14;
		color: black;
		padding: 0 auto;
		width: 100%,
		max-width:1000px; 
		height:auto;	
		align-content: center;
		margin:0 auto;
	}

	header {
		background-image: url("../images/Gustav_Klimt_04.jpg");
		height: auto;
		width:100%;
		margin:0 auto;
		top:0;
		left:0;
	}

	h1.header{
		font-size: 3.75em;
		text-align: left;
		padding-top: 4.375em;
		padding-left: 1.25em;
		color: white;
	}

	nav{
		width: 100%;
		overflow: hidden;
		align-items: center;
		background-color: white;
		margin:0 auto;
	}

	ul{
		list-style: none;
		margin: 0 auto;
		padding: 0;	
	}



	li{
		float:left;
		margin:1%;
		padding: 1%;
		font-size: 1em;
		font-weight: bold;

	}

	a{
		text-decoration: none;
		text-align: center;
		color:  #B6A773;
		width: 100%;
		display: block;
		text-align: center;
	}

	a:hover{
		background-color: #AA9039;
		margin: auto;
		padding:20%;
		color: white;
		width: 100%;
	}


	header h1 {
		font-family: Kaushan Script, cursive;
	}

	@font-face{
		font-family: Kaushan Script;
		src: url('https://fonts.googleapis.com/css?family=Kaushan+Script');
	}

	article {
		
		padding: 1%	;
		margin: 1%;

	}

	.content{
		
		height: auto;
		width: 45%;
		padding:1.25em;
		margin:0 auto;
		float: left;
		margin-top: 4.375em;
		margin-bottom: 1.25em;
	}

	.content4{
		margin-left: 0.46875em;
		text-align: center;
	
	}

	.content3{
		margin-top: -1.25em;
		text-align: center;
	}

	p{
		text-align: justify;
		line-height: 1.5em;
		font-size: 0.875em;
	}

	img.article1{
	 	width: 50%;	
	 	height:auto;

	}

	img.article2{
		width: 70%;
		height: auto;

	}

	footer{
		font-family: Kaushan Script, cursive;
		font-size:0.8em;
		padding: 1em;
		clear:left;
		background-color: white;
		color: #AA9039; 
		position:relative;
	}

	.header2{
		color:white;
		font-family: Kaushan Script, cursive;
		font-size: 1.875em;
	}

@media screen and (max-width: 1000px){
	body{
		background-color: #B6A773;
	}
}

@media screen and (max-width: 768px){
	body{
		background-color: #B6A773;
	}

	.content{
		width: 90%;
	}

	header{
		font-size: 0.7em;
		background-size: 100%;
		height: auto;

	}

}

@media screen and (max-width: 45px){
	
	body{
		background-color: #B6A773;
		width: 100%;
	}
	
	header{
		font-size: 0.4em;
		background-size: 135%;
	}
	
	.content{
		width: 90%;
		font-size: 0.8em;
	}

	nav{
		font-size: 0.5em;
	}

	
}

@media screen and (max-width: 375px){
	
	body{
		width: 200%;
	}
	
	header{
		font-size: 0.6em;
		background-size: 400%;
	}
	
	.content{
		width: 90%;
	}

	nav{
		font-size: 1em;
	}

	
}

@media screen and (max-width: 320px){
	
	body{
		background-color: #B6A773;
		width: 103%;
	}
	
	header{
		font-size: 0.4em;
		background-size: 135%;
	}
	
	.content{
		width: 90%;
		font-size: 0.8em;
	}

	nav{
		font-size: 0.6em;
	}

	
}